<ion-header>
  <ion-toolbar>
    <ion-title>Nouvelle annonce</ion-title>
      <ion-buttons slot="start" color="primary">
          <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input type="text" placeholder="Titre" [(ngModel)]="article.nom"></ion-input>
    <ion-input type="text" placeholder="description" [(ngModel)]="article.description"></ion-input>
    <ion-input type="number" placeholder="Prix" [(ngModel)]="article.prix"></ion-input>
</ion-content>
