<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            LeBonCoinCoin Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="none">
        <ion-item-sliding *ngFor="let article of articles">

            <ion-item>
                <app-article [article]='article'></app-article>
            </ion-item>

            <ion-item-options>
                    <button ion-button icon-only (click)="deleteArticle(article)" style="background: white;" danger>
                        <ion-icon name="heart" style="zoom:3.0; color: rgb(255, 0, 221);"></ion-icon>
                    </button>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>
</ion-content>
