.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

app-article {
  width: 100%;
}

.md ion-item{
  max-width: 700px;
  margin: 0 auto;
}

.md ion-item-options{
  max-width: 700px;
  right: 26%;
}