<ion-header>
  <ion-toolbar>
    <ion-title>{{ article.nom }}</ion-title>
      <ion-buttons slot="start" color="primary">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary" color="primary">
        <ion-button (click)="deleteArticle()"  [hidden]="vendeur.id != currentUser.id"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <h1>{{ article.nom }}</h1>
          <p>{{ article.description }}</p>
          <p>{{ article.categorie }}</p>
          <p>{{ article.prix }} €</p>
          <p>{{ vendeur.username }} - {{ article.ville }}</p>
          <ion-button (click)="contactSeller()" [hidden]="vendeur.id == currentUser.id">Contacter par email</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>