<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            LeBonCoinCoin Compte
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                    <H1>{{ user.username }}</H1>
                </div>
                <div padding>
                        <p><ion-icon name="mail"></ion-icon> {{ user.mail }}</p>
                        <p><ion-icon name="map"></ion-icon> {{ user.ville }}</p>
                        <p><ion-icon name="calendar"></ion-icon> {{ user.age }}</p>
                </div>
                <div padding>
                        <ion-button color="danger" (click)="logout()">
                                <ion-icon slot="start" name="exit"></ion-icon>
                                Se déconnecter
                            </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
