<ion-card>
    <ion-grid>
        <ion-row class="padding-right-0">
            <ion-grid>
                <ion-row>
                    <ion-col size="auto">
                        <ion-avatar>
                            <img src="https://via.placeholder.com/42" style="max-height: 42px; max-width: 42px;">
                        </ion-avatar>
                    </ion-col>
                    <ion-col>
                        <ion-row style="height: 100%;">
                            <div style="width: 100%; display: flex; justify-content: space-between">
                                <span class="titre_article">{{ article.nom }}</span> <span
                                    class="float-right prix_article">{{ article.prix }} €</span>
                            </div>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-row>
        <ion-row>
            <ion-card-subtitle>
                {{ article.description }}
            </ion-card-subtitle>
        </ion-row>
        <ion-row>
            <ion-col class="padding-left-0 padding-right-0">
                <ion-grid class="padding-left-0 padding-right-0">
                    <ion-row class="padding-rigth-0">
                        <div class="ion-text-end" style="width: 100%;">
                            <span class="">{{ article.vendeur }} ({{ article.ville }})</span>
                        </div>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>