ion-card {
    margin: 10px 5px;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-right: 0;
}

.titre_article {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin: auto 0;
}

.prix_article {
    font-size: 16px;
    color: black;
    margin: auto 0;
}

.float-right {
    float: right;
}