<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-input type="text" placeholder="Pseudo" [(ngModel)]="user.username"></ion-input>
            <ion-input type="email" placeholder="Votre adresse mail" [(ngModel)]="user.mail"></ion-input>
            <ion-input type="text" placeholder="Votre ville" [(ngModel)]="user.ville"></ion-input>
            <ion-input type="number" placeholder="Votre age" [(ngModel)]="user.age"></ion-input>
            <ion-input type="password" placeholder="Mot de passe" [(ngModel)]="password"></ion-input>
            <ion-input type="password" placeholder="Retapez votre mot de passe" [(ngModel)]="confirmPassword"></ion-input>
          </div>
  
          <div padding>
            <ion-button (click)="signUp()" expand="block">Confirmer</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
