<ion-card>
    <ion-grid>
        <ion-row>
            <ion-col size="auto">
                <ion-avatar>
                    <img src="https://via.placeholder.com/80">
                </ion-avatar>
            </ion-col>
        
            <ion-col>
                <ion-row>
                    <ion-card-title>{{ article.nom }}</ion-card-title>
                </ion-row>
                <ion-row>
                    <ion-card-subtitle>{{ article.description }}</ion-card-subtitle>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
      